* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f3f6fa;
    color: #222;
}

/* HEADER + MENU */

header {
    background: #1a73e8;
    padding: 20px;
    text-align: center;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    text-decoration: underline;
}

/* CARDS */

main {
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
}

.card {
    background: white;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin: 15px 0;
}

.card h2 {
    margin-bottom: 10px;
}

.card ul {
    margin-left: 20px;
    line-height: 1.6;
}

/* FOOTER */

footer {
    background: #1a73e8;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
